<div class="main">
  <fieldset>
  <legend>Edit a competition:</legend>
  <form method="post" action="/competitions/<%= @competition.id %>">
    <p>
      <label class="left" for="name">Name:</label>
      <input id="name" value="<%= @competition.name %>" type="text" name="name"/>
    </p>
    <p>
      <label class="left" >&nbsp;</label>
      <input type="submit" value="Save"/>
    </p>
  </form>
  </fieldset>
</div>
