<div class="other_table">
  <table>
    <% @competitions.each do |competition| %>
    <tr>
      <td><%= competition.name %></td>
      <td class="button_field">
        <form method="get" action="/competitions/<%= competition.id %>/edit">
          <button type="submit"><i class="fas fa-edit"></i></button>
        </form>
      </td>
      <td class="button_field">
        <form method="post" action="/competitions/<%= competition.id %>/delete">
          <button type="submit" <%= "disabled" if competition.matches.length != 0 %>><i class="fas fa-trash-alt"></i></button>
        </form>
      </td>
    </tr>
    <% end %>
  </table>
</div>
