<div class="main">
  <fieldset>
  <legend>Add a new competition:</legend>
  <form method="post" action="/competitions">
    <p>
      <label class="left" for="name">Name:</label>
      <input id="name" type="text" name="name"/>
    </p>
    <p>
      <!-- <label class="left">&nbsp;</label> -->
      <button type="submit"><i class="fa fa-save"></i></button>
    </p>
  </form>
  </fieldset>
</div>
