<form method="post" action="/teams/<%= @team.id %>">

  <p>
    <label for="name"> Name: </label>
    <input id="name" value="<%= @team.name %>" type="text" name="name"/>
  </p>
  <p>
    <label>&nbsp;</label>
    <input type="submit" value="Update Team"/>
  </p>

</form>
