<div class="main">
  <fieldset>
  <legend>Edit a team:</legend>
  <form method="post" action="/teams/<%= @team.id %>">
    <p>
      <label class="left" for="name">Name:</label>
      <input id="name" value="<%= @team.name %>" type="text" name="name"/>
    </p>
    <p>
      <label class="left">&nbsp;</label>
      <button type="submit"><i class="fa fa-save"></i></button>
    </p>
  </form>
  </fieldset>
</div>
