<div class="main">
  <form method="post" action="/teams">
    <p>
      <label class="left" for="name"> Name: </label>
      <input id="name" type="text" name="name"/>
    </p>
    <p>
      <label class="left">&nbsp;</label>
      <input type="submit" value="Add Team"/>
    </p>
  </form>
</div>
