<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <title>Score Board</title>
    <link rel="icon" href="/images/ball.png">
    <nav>
      <div class="title">
        <a href="/">Score Board</a>
      </div>
      <div class="navigation">
        <a href="/matches">Matches</a>
        <a href="/competitions">Competitions</a>
        <a href="/teams">Teams</a>
        <a href="/venues">Venues</a>
        <a href="/matches/new">Add a match</a>
        <a href="/competitions/new">Add a competition</a>
        <a href="/teams/new">Add a team</a>
        <a href="/venues/new">Add a venue</a>
      </div>
    </nav>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
