a {
  color: white;
  text-decoration: none;
}

body {
  background-color: #abd2f2;
  font-family: Arial;
}

input {
  width: 193px;
}

input[type="submit"] {
  background-color: #3965ad;
  border: none;
  border-radius: 5px;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 198px;
}

input[type="submit"]:disabled {
  background-color: lightgray;
}

input[type="submit"].small_button {
  width: 70px;
}

label, .show_title {
  display: block;
  float: left;
  font-weight: bold;
  padding-left: 28px;
  padding-right: 10px;
  text-align: left;
  width: 150px;
}

label.left {
  width: 60px;
}

select {
  width: 198px;
}

table {
  border-bottom: 3px solid #3965ad;
  border-collapse: collapse;
  font-size: 12px;
  text-align: left;
}

td {
  background-color: #abd2f2;
}

textarea {
  height: 100px;
  width: 193px;
}

th {
  background-color: #3965ad;
  color: white;
  vertical-align: middle;
}

th, td {
  border-bottom: 1px solid #3965ad;
  padding: 5px 10px 5px 10px;;
}

.button_field {
  background-color: #abd2f2;
  border: none;
  padding-right: 0px;
}

.draw {
  background-color: yellow;
  text-align: center;
}

.draw_legend {
  background-color: yellow;
  border: none;
  text-align: center;
}

.error {
  color: red;
  font-weight: bold;
  padding: 10px 0px 0px 39px;
}

.inline {
   display:inline-block;
   margin-right:5px;
}

.legend, .main_table {
  padding: 20px 0px 0px 40px;
}

.loss {
  background-color: red;
  text-align: center;
}
.loss_legend {
  background-color: red;
  border: none;
  text-align: center;
}

.main {
  padding-left: 11px;
  padding-top: 10px;
}

.navigation {
  background-color: #3965ad;
  font-size: 18px;
  font-weight: bold;
  padding-left: 30px;
  overflow: hidden;
}

.navigation a {
  border-bottom: 5px solid transparent;
  color: white;
  display: block;
  float: left;
  padding: 10px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
}

.navigation a.active {
  border-bottom: 5px solid red;
}

.navigation a:hover {
  border-bottom: 5px solid red;
}

.search_box {
  text-align: right;
}

.search_icon {
  float: right;
  height: 15px;
  position: relative;
  right: 20px;
  top: 2px;
  width: 15px;
}

.show_value {
  display:flex;
}

.sorting_icon {
  width: 15px;
}

.table_no_border {
  border: none;
}

.title {
  background-color: #141B41;
  font-size: 48px;
  font-weight: bold;
  overflow: hidden;
  padding: 10px 0px 10px 40px;
  text-align: left;
}

.win {
  background-color: green;
  text-align: center;
}

.win_legend {
  background-color: green;
  border: none;
  text-align: center;
}
