body {
  font-family: Arial;
  background-color: #abd2f2;

}

nav {
  color: white;
  font-weight: bold;
  background-color: #141B41;
  padding: 5px;
}

.topnav {
    background-color: #141B41;
    overflow: hidden;
    padding-left: 15px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 5px solid transparent;
}

.topnav a:hover {
    border-bottom: 5px solid red;
}

.topnav a.active {
    border-bottom: 5px solid red;
}

.title {
  font-size: 48px;
  width: 100%;
  text-align: left;
  padding-left: 20px;

}

.navigation {
  font-size: 18px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

table {
  text-align: left;
  border-collapse: collapse;
  font-size: 12px;
  border-bottom: 3px solid #2a6799;
}

th, td {
  border-bottom: 1px solid #6F9CEB;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

th {
  color: white;
  background-color: #2a6799;
  vertical-align: bottom;
}

td {
  background-color: #abd2f2;
}

.legend {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 20px;
  border: none;
}

.table_no_border {
  border: none;
}

.legend_title {
  background-color: #abd2f2;
  border: none;
}

.win {
  background-color: green;
  text-align: right;
  border: none;
}

.loss {
  background-color: red;
  text-align: right;
  border: none;
}

.draw {
  background-color: yellow;
  text-align: right;
  border: none;
}

.main_table {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.button_field {
  background-color: #abd2f2;
  border: none;
  padding-right: 0px;
}

.sorting_icon {
  width: 15px;
}

.search_icon {
  position: relative;
  float: right;
  width: 15px;
  height: 15px;
  top: 2px;
  right: 20px;
}

.score {
  text-align: center;
}

.search_box {
  text-align: right;
}

a {
  color: white;
  text-decoration: none;
}

/* a:hover {
  cursor: url('/images/cursor.cur'), auto;
} */

label, .show_title {
  width: 150px;
  float: left;
  text-align: right;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
}

input {
  width: 193px;
}

select {
  width: 198px;
}

input[type="submit"] {
  width: 198px;
  background-color: #2a6799;
  color: white;
  border: none;
  /* -moz-border-radius: 5px; */
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

label.left {
  width: 63px;
}

input[type="submit"]:disabled {
  background-color: lightgray;
}

input[type="submit"].small_button {
  width: 70px;
}

textarea {
  width: 193px;
  height: 100px;
}

.error {
  color: red;
  font-weight: bold;
  padding-left: 23px;
}
